<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131387665700-0th8jbdeg59ujl566ploseqlsrj66h70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131387665700-0th8jbdeg59ujl566ploseqlsrj66h70</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131387665700-p6a3r9po8b167vh07r7geq7uesjosk9f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzk3ZsTexlOkq1taFNqDRYa8-50ZDXi8w</string>
	<key>GCM_SENDER_ID</key>
	<string>131387665700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniCasino</string>
	<key>PROJECT_ID</key>
	<string>hazyaeva-c5211</string>
	<key>STORAGE_BUCKET</key>
	<string>hazyaeva-c5211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131387665700:ios:d8d70e73294f9b4f0817b1</string>
</dict>
</plist>